body{
	background-color: #7CC110;
	overflow-x:hidden;
	padding-right: 20px;
	min-height: 100%;
}
h1{
	font-size: 24px;
	font-weight: bold;
	text-shadow: 0px 1px 3px #333;
}
.albumCover{
	-webkit-border-radius: 12px;
	width: 200px;
}
.artistInfo{
	width: 200px;
	margin-right: 5%;
}
#artistContainer{
	display: none;
}
.albumInfo{
	float: left;
	clear: left;
	width: 400px;
	height: 360px;
	margin-top: 20px
}
.songTitle{
	font-weight: bold;
	font-size: 16px;
}
.artistInfo a{
	color: #469216;
	font-weight: bold;
}
.artistInfo h3{
	color: white;
	font-size: 12px;
}
#logo_container{
	background-color: #7CC110;
	padding-left: 20px;
	padding-top: 20px;
	margin-bottom: 15px;
}
#logo{
	height: 100px;
}

#artistContainer{
	padding: 2em 0 0 2em;
}
#artistContainer div{
	display: inline-block;
}
#playlistContainer{
	padding: 1em 2em;
	display: none;
}
#playlistContainer h1{
	font-size: 24px;
	font-weight: bold;
	text-shadow: 0px 1px 3px #333;
}
.venueInfo{
	vertical-align: top;
}
#playlist{
}
.playlistItem{
	padding: 3px 0 4px 5px;
	color: #CCC;
	font-size: 11px;
}
.zebra{
	background-color: #469216;
}
.playlistItem.active{
	background-color: #87CEFF;	
	color: #505050;
}
.playlistItem span, .playlistItem a{
	color: #505050;
	font-size: 12px;
}
.playlistItem a{
	font-weight: bold;
}
span.artistName{
	display: inline-block;
	left: 30%;
	position:relative;
	overflow: hidden;
	width: 20%;
}
span.songName{
	display: inline-block;
	width: 20%;
	overflow: hidden;
}
span.albumName{
	display: inline-block;
	left: 40%;
	width: 20%;
	height: 15px;
	position:relative;
	overflow: hidden;
}
#venue_pics_container{
	overflow:hidden;
	margin-right: 10px;
}

#venue_pics{
  float: left;
  position: relative;
}
#venue_pics li{
	float:left;
}
#venue_pics li img{
	width: 250px;
	-webkit-border-radius: 12px;
}

div.menu{
	display: inline-block;
	width: 33%;
	vertical-align: top;
}
div.bandChoice select, div.venueChoice select{
  width: 90%;
  background-color: #7CC110;
  color: white;
  border: 0px;
}
div.venueChoice select{
 
}
#playlist_buttons{
	display: none;
	float:right;
	margin-right: 20px;
}

#list_div0 h2{
	display: inline-block;
	width: 80px;
	margin-bottom: 8px;
}

.searchContainer div h1{
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 15px;
	text-shadow: 0px 1px 3px #333
}
.searchContainer{
	padding-left: 20px;
}
button{
	-webkit-border-radius: 6px;
}
#list_div0 button{
	position:relative;
	left: 135px;
	float: left;
}
#ytplayer_div3{
	vertical-align: top;
}
#band_bio{
	color: white;
}
#bio_container h1{
	margin: 10px 0;
}
#artistContainer #bio_container{
	margin: 20px 0;
	display: block;
}
span.header{
	font-size: 14px;
	color: white;
	margin-top: 15px;
	font-weight: bold;
}
.venueInfo h1{
	vertical-align: top;
	margin: 0px 0 10px 0;
}

#artistContainer h1{
	margin-bottom: 15px;
}

#venue_bands, #venue_bands a{
	color: white;
	vertical-align: top;
}